<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Prop</title>
    <!--导入映射表-->
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
          "es-toolkit": "https://esm.sh/es-toolkit@%5E1",
          "axios": "https://unpkg.com/axios@1.10.0/dist/esm/axios.min.js"
        }
      }
    </script>
  </head>

  <body>
    <div id="app">
      <div :style="{ fontSize: fontSize + 'px' }">Blog Posts</div>
      <blog-post
        v-for="post in posts"
        :key="post.title"
        :title="post.title"
        :likes="post.likes"
        @enlarge-text="(size)=>{fontSize += size}"
      ></blog-post>
    </div>

    <div style="height: 1px; border: 1px solid #d11616; margin: 10px 0"></div>

    <div id="app2">
      <div :style="{ fontSize: fontSize + 'px' }">Blog Posts with Options API</div>
      <blog-post-options
        v-for="post in posts"
        :key="post.title"
        :title="post.title"
        :likes="post.likes"
        @enlarge-text="(size)=>{fontSize += size}"
      ></blog-post-options>
    </div>

    <div style="height: 1px; border: 1px solid #d11616; margin: 10px 0"></div>

    <div id="app3">
      <div :style="{ fontSize: fontSize + 'px' }">Blog Posts with Options API</div>
      <blog-post-options
        v-for="post in posts"
        :key="post.title"
        :title="post.title"
        :likes="post.likes"
        @enlarge-text="enlargeText($event)"
      ></blog-post-options>
    </div>

    <script type="module">
      import { createApp, ref } from 'vue'

      createApp({
        setup() {
          const posts = ref([
            {
              title: 'My journey with Vue',
              likes: 23,
              count: 1,
            },
            {
              title: 'Learning Vue Composition API',
              likes: 15,
              count: 1,
            },
          ])

          const fontSize = ref(16)

          return {
            posts,
            fontSize,
          }
        },

        components: {
          'blog-post': {
            props: ['title', 'likes'],
            emits: ['enlarge-text'],
            template: `<h3>{{title}}-{{likes}}</h3>
                  <button @click="$emit('enlarge-text', 1)">enlarge text</button>`,
          },
        },
      }).mount('#app')

      // 选项卡式API 实现blog-post组件
      createApp({
        setup() {
          const posts = ref([
            {
              title: 'My journey with Vue',
              likes: 23,
              count: 1,
            },
            {
              title: 'Learning Vue Composition API',
              likes: 15,
              count: 1,
            },
          ])

          const fontSize = ref(16)

          return {
            posts,
            fontSize,
          }
        },

        components: {
          'blog-post-options': {
            props: ['title', 'likes'],
            emits: ['enlarge-text'],
            data() {
              return {
                count: 0,
              }
            },
            methods: {
              emitEnlargeText() {
                this.$emit('enlarge-text', 1)
              },
            },
            template: `<h3>{{title}}-{{likes}}</h3>
                  <button @click="emitEnlargeText">enlarge text</button>`,
          },
        },
      }).mount('#app2')

      createApp({
        data() {
          return {
            posts: [
              {
                title: 'My journey with Vue',
                likes: 23,
                count: 1,
              },
              {
                title: 'Learning Vue Composition API',
                likes: 15,
                count: 1,
              },
            ],
            fontSize: 16,
          }
        },
        methods: {
          enlargeText(size) {
            this.fontSize += size
          },
        },
        components: {
          'blog-post-options': {
            props: ['title', 'likes'],
            emits: ['enlarge-text'],
            template: `<h3>{{title}}-{{likes}}</h3>
                  <button @click="$emit('enlarge-text', 1)">enlarge text</button>`,
          },
        },
      }).mount('#app3')
    </script>
  </body>
</html>
