body {
  background: #fff;
  font-family: Microsoft YaHei;
  margin: 0;
  padding: 0;
}

.header {
  padding: 30px 80px 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 376px;
}

.header span {
  background: linear-gradient(180deg, #1c91ff 0%, #2954ff 100%);
  /*这个属性定义了背景的绘制区域。当设置为text时，它会将背景裁剪成文字的形状，也就是说背景只在文字区域内显示。*/
  background-clip: text;
  /*这个属性将文字的填充颜色设置为透明。正常情况下，文字有颜色填充，但使用这个属性后，文字本身变得透明，这样就可以透过文字看到背景。*/
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: bold;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet-active {
  background: #275dff;
}

.swiper-pagination-bullet {
  width: 80px;
  height: 5px;
  border-radius: 99px;
}

.downBox {
  padding: 58px 0;
  margin: 0 auto;
  width: 930px;
  display: flex;
  justify-content: space-around;
}

.downContent {
  width: 286px;
  height: 284px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px #d5e8ff;
  border-radius: 12px;
}

.downContent .title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(184, 213, 247, 0.59);
  border-radius: 12px 0px 12px;
  width: 134px;
  height: 41px;
  font-size: 16px;
  color: #2964ff;
  cursor: pointer;
}

.downContent .title img {
  width: 18px;
  object-fit: contain;
  margin-right: 6px;
}

.downContent .content {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.downContent .content img {
  width: 82px;
  height: 82px;
  object-fit: cover;
}

.downContent .content span:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  color: #111827;
  margin: 12px 0 4px 0;
}

.downContent .content span:nth-child(3) {
  font-size: 16px;
  font-weight: normal;
  color: #a0acc1;
}

.downContent .downloadZone {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top: #d5e8ff solid 1px;
  border-radius: 0 0 12px 12px;
  color: #666666;
  font-size: 16px;
  height: 50px;
}

.downContent .downloadZone :first-child {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  background: url('../imgs/logo_download.png') no-repeat center;
  background-size: 100% 100%;
}

.downContent .downloadZone:hover {
  background: linear-gradient(270deg, #1b74fd 0%, #30a5ff 100%);
  color: #ffffff;
}

.downContent .downloadZone:hover :first-child {
  background: url('../imgs/logo_download_hover.png') no-repeat center;
  background-size: 100% 100%;
}

.introduce {
  background: linear-gradient(103deg, #2b7fff 1%, #32c5ff 99%);
  padding: 82px 130px;
  color: #fff;
  text-align: center;
}

.introduce .title {
  font-size: 32px;
  font-weight: bold;
}

.introduce .content {
  font-size: 16px;
  margin-top: 24px;
  line-height: 32px;
  display: block;
}

.content-list {
  padding: 55px 116px 12px 116px;
}

.content-list img {
  margin-bottom: 68px;
  object-fit: cover;
  width: 100%;
}

.content-list .odd {
  margin-right: 39px;
}

.footer {
  height: 116px;
  background: #111827;
  font-size: 16px;
  color: #9ca3af;
  display: flex;
  align-items: center;
  justify-content: center;
}
