<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>指令</title>
    <!--导入映射表-->
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
          "es-toolkit": "https://esm.sh/es-toolkit@%5E1",
          "axios": "https://unpkg.com/axios@1.10.0/dist/esm/axios.min.js"
        }
      }
    </script>
  </head>

  <body>
    <!--绑定到元素属性-->
    <div id="app2">
      <span :title="message"> 鼠标悬停几秒钟查看此处动态绑定的提示信息！ </span>
    </div>

    <div id="app3">
      <!--条件：控制元素的创建和删除-->
      <p v-if="isCreated">动态创建和删除</p>
      <!--条件：控制元素的显隐-->
      <p v-show="isShow">动态显示和隐藏</p>
    </div>

    <!--循环-->
    <div id="app4">
      <ol>
        <li v-for="todo in todos">{{todo.text}}</li>
      </ol>
    </div>

    <!--事件监听器-->
    <div id="app5">
      <!--插值可更新部分文本-->
      <p>插值：{{message}}</p>
      <!--v-text会更新全部文本-->
      <p>v-text：<span v-text="message"></span></p>
      <button @click="requestMessage">翻转消息</button>
    </div>

    <!--表单输入和应用状态之间的双向绑定-->
    <div id="app6">
      <p>{{message}}</p>
      <input v-model="message" />
    </div>

    <!--自定义组件-->
    <div id="app7">
      <ol>
        <todo-item v-for="item in geouplist" :todo="item" :key="item.id"></todo-item>
      </ol>
    </div>

    <script type="module">
      import { createApp, ref } from 'vue'

      var app2 = createApp({
        setup() {
          const message = ref(`页面加载于${new Date().toLocaleString()}`)

          return {
            message,
          }
        },
      }).mount('#app2')

      var app3 = createApp({
        setup() {
          const isShow = ref(true)
          const isCreated = ref(false)

          return {
            isShow,
            isCreated,
          }
        },
      }).mount('#app3')

      var apps4 = createApp({
        setup() {
          const todos = ref([
            {
              text: '好好学习,天天向上1',
            },
            {
              text: '好好学习,天天向上2',
            },
            {
              text: '好好学习,天天向上3',
            },
          ])

          return {
            todos,
          }
        },
      }).mount('#app4')

      var app5 = createApp({
        setup() {
          const message = ref('Hello Vue.js')
          const requestMessage = () => {
            message.value = message.value.split('').reverse().join('')
          }

          return {
            message,
            requestMessage,
          }
        },
      }).mount('#app5')

      var app6 = createApp({
        setup() {
          const message = ref('Hello Vue.js')

          return {
            message,
          }
        },
      }).mount('#app6')

      var app7 = createApp({
        setup() {
          const geouplist = ref([
            {
              id: 0,
              text: 'hello',
            },
            {
              id: 1,
              text: 'hello',
            },
            {
              id: 2,
              text: 'hello',
            },
          ])

          return {
            geouplist,
          }
        },
      })
      app7.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ $filters.capitalize(todo.text) }} —— {{ $appName }} —— {{ new Date() }}</li>',
      })

      // 添加全局变量
      app7.config.globalProperties.$appName = 'My Vue App'

      // 添加全局工具函数
      app7.config.globalProperties.$filters = {
        capitalize: value => {
          if (!value) return ''
          value = value.toString()
          return value.charAt(0).toUpperCase() + value.slice(1)
        },
      }
      app7.mount('#app7')
    </script>
  </body>
</html>
