<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>列表渲染</title>
    <!--导入映射表-->
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
          "es-toolkit": "https://esm.sh/es-toolkit@%5E1",
          "axios": "https://unpkg.com/axios@1.10.0/dist/esm/axios.min.js"
        }
      }
    </script>
  </head>

  <body>
    <!--在v-for中使用数组-->
    <div id="app">
      <ul>
        <li v-for="item of items">{{item.text}}</li>
      </ul>
    </div>

    <div id="app2">
      <!-- <ul>
			<li v-for="(item, index) in items">
				{{parentMessage}}-{{index}}-{{item.text}}
			</li>
		</ul> -->
      <ul>
        <!--解构-->
        <li v-for="({text}, index) in items">{{parentMessage}}-{{index}}-{{text}}</li>
      </ul>
    </div>

    <!--在v-for中使用对象-->
    <div id="app3">
      <ul>
        <li v-for="(value,name,index) in bookInfo" :key="value">{{index}}.{{name}}:{{value}}</li>
      </ul>
    </div>

    <!--通过计算属性显示过滤后的结果-->
    <div id="app4">
      <ul>
        <li v-for="number in evenNumbers">{{number}}</li>
      </ul>
    </div>

    <!--通过JS方法显示过滤后的结果-->
    <div id="app5">
      <ul>
        <li v-for="number in even(numbers)">{{number}}</li>
      </ul>

      <!--v-for中也接受值范围-->
      <span v-for="n in 10">{{ n }} </span>

      <ul>
        <!--利用带有 v-for 的 <template> 来循环渲染一段包含多个元素的内容-->
        <template v-for="number in even(numbers)">
          <li>{{number}}</li>
        </template>
      </ul>
    </div>

    <!--vue2: v-for和v-if在同一元素上使用时，v-for的优先级高于v-if-->
    <!--vue3: v-for和v-if在同一元素上使用时，v-if的优先级高于v-for-->
    <div id="app6">
      <ul>
        <template v-for="todo in todos">
          <li v-if="!todo.isComplete">{{todo.message}}</li>
        </template>
      </ul>
    </div>

    <script type="module">
      import { createApp, ref, reactive } from 'vue'

      var vm = createApp({
        setup() {
          const items = ref([
            {
              text: 'v-for指令基于数组来渲染一组列表；',
            },
            {
              text: 'v-for指令基于数组来渲染一组列表；',
            },
            {
              text: 'v-for指令基于数组来渲染一组列表；',
            },
          ])

          return {
            items,
          }
        },
      }).mount('#app')

      var vm2 = createApp({
        setup() {
          const parentMessage = ref('parent')
          const items = ref([
            {
              text: '在 v-for 块中，可以访问所有父作用域的属性。v-for 还支持一个可选的第二个参数，即当前项的索引；',
            },
            {
              text: 'v-for指令基于数组来渲染一组列表；',
            },
            {
              text: 'v-for指令基于数组来渲染一组列表；',
            },
          ])

          return {
            parentMessage,
            items,
          }
        },
      }).mount('#app2')

      // filter不改变原数组，返回一个新数组
      //vm2.items = vm2.items.filter(item => item.text.match('v-for指令基于数组来渲染一组列表；'))

      var vm3 = createApp({
        setup() {
          const bookInfo = reactive({
            bookName: '曾国藩家书',
            author: '唐浩明',
            publishedAt: '2016-10-24',
          })

          return {
            bookInfo,
          }
        },
      }).mount('#app3')

      var vm4 = createApp({
        data() {
          return {
            numbers: [1, 2, 3, 4, 5, 6],
          }
        },
        computed: {
          evenNumbers() {
            return this.numbers.filter(number => number % 2 === 0)
          },
        },
      }).mount('#app4')

      var vm5 = createApp({
        data() {
          return {
            numbers: [1, 2, 3, 4, 5, 6],
          }
        },
        methods: {
          even(numbers) {
            return numbers.filter(number => number % 2 === 0)
          },
        },
      }).mount('#app5')

      var vm6 = createApp({
        data() {
          return {
            todos: [
              { message: 1, isComplete: false },
              { message: 6, isComplete: true },
              { message: 10, isComplete: false },
              { message: 19, isComplete: true },
              { message: 1100, isComplete: true },
            ],
          }
        },
      }).mount('#app6')

      let person = {
        name: 'John',
        age: 30,
        city: 'New York',
      }

      // 对象属性值的遍历
      for (const element of Object.values(person)) {
        console.log(element)
      }

      for (const element of Object.entries(person)) {
        console.log(element)
      }
    </script>
  </body>
</html>
