<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>表单输入绑定</title>
    <!--导入映射表-->
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
          "es-toolkit": "https://esm.sh/es-toolkit@%5E1",
          "axios": "https://unpkg.com/axios@1.10.0/dist/esm/axios.min.js"
        }
      }
    </script>

    <style>
      span {
        display: block;
      }
    </style>
  </head>

  <!-- v-model 在内部为不同的输入元素使用不同的属性并抛出不同的事件：
	text 和 textarea 元素使用 value 属性和 input 事件；
	checkbox 和 radio 使用 checked 属性和 change 事件；
	select 字段将 value 作为 prop 并将 change 作为事件。 -->

  <body>
    <div id="app">
      <span>Message is : {{message}}</span>
      <input v-model.trim="message" @input="onInput" placeholder="Edit me" />

      <p>
        <!--多行文本-->
        <span>Multiling message is :</span>
        <!-- <p style="white-space: pre-line;">{{multiMessage}}</p> -->
        <textarea v-model="multiMessage" placeholder="Add multiple lines"></textarea>
      </p>
    </div>

    <div id="app3">
      <span>单个复选框，绑定到bool值。</span>
      <input type="checkbox" v-model="checked" />
      <label for="checkbox">{{checked}}</label>

      <span>单个复选框，绑定到非bool值。</span>
      <input type="checkbox" v-model="nonBoolChecked" true-value="yes" false-value="no" />
      <label for="checkbox">{{nonBoolChecked}}</label>

      <p>
        <span>多个复选框，绑定到数组。checked Names : {{checkedNames}}</span>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames" />
        <label for="jack">Jack</label>

        <input type="checkbox" id="john" value="John" v-model="checkedNames" />
        <label for="john">John</label>

        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames" />
        <label for="mike">Mike</label>
      </p>

      <p>
        <span>绑定到单选框。picked : {{picked}}</span>
        <input type="radio" id="one" value="One" v-model="picked" />
        <label for="one">One</label>

        <input type="radio" id="two" value="Two" v-model="picked" />
        <label for="two">Two</label>
      </p>
    </div>

    <div id="app7">
      <p>
        <select v-model="selected">
          <option disabled value="">请选择</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
        </select>
        <br />
        <span>绑定的到选择框（单选）。selected : {{selected}}</span>
      </p>

      <p>
        <!-- <select v-model="multiSelected" multiple style="width: 60px">
          <option>A</option>
          <option>B</option>
          <option>C</option>
        </select> -->
        <select v-model="multiSelected" multiple style="width: 60px">
          <option v-for="option of options" :key="option.value" :value="option.value">{{option.text}}</option>
        </select>
        <br />
        <span>绑定的到选择框（多选）。selected : {{multiSelected}}</span>
      </p>
    </div>

    <div id="app8">
      <p>
        <select v-model="selected">
          <option v-for="option in options" :value="option.value" :disabled="option.disabled">{{option.text}}</option>
        </select>
        <br />
        <span>v-for动态渲染选项。selected : {{selected}}</span>
      </p>
    </div>

    <script type="module">
      import { createApp, ref } from 'vue'

      createApp({
        data() {
          return {
            message: '',
            multiMessage: '',
          }
        },
        methods: {
          onInput() {
            console.log(this.message)
          },
        },
      }).mount('#app')

      createApp({
        data() {
          return {
            checked: true,
            checkedNames: ['Jack'],
            picked: '',
            nonBoolChecked: 'no',
          }
        },
      }).mount('#app3')

      createApp({
        setup() {
          const selected = ref('')
          const multiSelected = ref([])
          const options = ref([
            { text: 'One', value: 'A' },
            { text: 'Two', value: 'B' },
            { text: 'Three', value: 'C' },
          ])

          return {
            selected,
            multiSelected,
            options,
          }
        },
      }).mount('#app7')

      createApp({
        setup() {
          const selected = ref('A')
          const options = ref([
            { text: '请选择', value: '', disabled: true },
            { text: 'One', value: 'A', disabled: false },
            { text: 'Two', value: 'B', disabled: false },
            { text: 'Three', value: 'C', disabled: false },
          ])

          return {
            selected,
            options,
          }
        },
      }).mount('#app8')
    </script>
  </body>
</html>
